# Core ML
torch-geometric
xgboost
shap
scikit-learn
matplotlib

# Data engineering
dask[complete]
netCDF4
xarray
numpy
pandas

# Geospatial
geopandas
shapely

# Workflow + experiment tracking
snakemake
wandb
optuna